*{
    margin: 0;
    padding: 0;
   
}
nav{
     display: flex;
     justify-content:space-between;
     align-items : center;
     height: 60px;
     background-color: antiquewhite;
    
    
     
}
 
span{
    display: flex;
    justify-content: flex-start;
}
 
ul li {
     
    list-style: none;
    padding-left: 30px;
    font-weight: bold;

    
}
 
ul li:hover{
    background-color: rgb(4, 4, 123) ;

}
 
ul{
    display: flex;
    text-transform: uppercase;
    
}
img{
    width: 60px;
    height: 60px;
}
 .img1 .yes{
    width: 300vh;
    height: 50vh;
 }
 h1{
    color: rgb(9, 9, 127);
    
 }
 p{
    font-family: sans-serif;
 }
 .btn1{
    color: rgb(228, 228, 236);
    background-color: blue;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    
 }
 h2{
    color: rgb(4, 4, 100);
 }
 